*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, serif;
	font-size:15px;
	background-color:rgb(250,250,250);
}

div#page_el_header {
	background-color:black;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:white;
}

div#page_el_header h1{
	color: white;
	background-color:black;
	font-size:200%;
}

div#page_el_header h3{
	color: white;
	background-color:black;
	font-size:90%;
	font-weight: normal;
}

div#page_el_menu {
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:white;
	background-color:rgb(85,85,85);
	padding-top:5px;
	padding-bottom:5px;
}

div.page_el_menu_item {
	background-color:rgb(85,85,85);
	padding-right:10px;
	float:left;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:rgb(25,25,25);
	padding-left:10px;
	padding-right:10px;
}

div.page_el_menu_item a{
	background-color:rgb(85,85,85);
	color: white;
	text-decoration:none;
}

div.page_el_menu_item a:link{
}

div.page_el_menu_item a:visited{
}

div.page_el_menu_item a:hover{
	color: blue;
}

div.page_el_menu_item a:active{
}

div#page_el_description  {
	width:60%;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	border-style:dotted;
	border-width:1px;
	border-color: gray;
}

div#page_el_description_header  {
	width:100%;
	font-size:120%;
	font-weight: bold;
	text-align:center;
	padding: 5px;
}

div#page_el_main  {
	margin-top:30px;
}

div.page_el_form  {
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}

div.page_el_form_label  {
	width: 300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:5px;
	font-weight:bold;
}

div.page_el_form input, select {
    width: 300px;
	margin-left:auto;
	display: block;
	margin-right:auto;
}

div#page_el_main_results  {
	width:60%;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	border-style:dotted;
	border-width:1px;
	border-color: gray;
	text-align:center;
}

div#page_el_footer  {
	font-size:90%;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	color:white;
	background-color: black;
	text-align: right;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

div.page_el_cleaner {
	clear:both;
}
